<!DOCTYPE html>
<html>
    <head>
        <title>Shitbox</title>
    </head>
    <style>
        html {
            font-family: monospace;
        }

        section {
            padding: 4px 10px;
            margin: 4px;
        }

        .content {
            padding: 0 10px;
        }
    </style>
    <body>
        <div class="container">
            <div class="brand">
                <h1>API USAGE</h1>
                <hr>
            </div>
            <div class="content" id="web">
                <h2>WEB</h2>
                <section class="endpoint" id="get/">
                    <h3>GET /web</h3>
                    <p>
                        Shitbox client for the web browser.
                    </p>
                </section>
            </div>
            <div class="content" id="files">
                <h2>FILES</h2>
                <section class="endpoint" id="post/upload">
                    <h3>POST /upload</h3>
                    <p>
                        Send the "multipart/form-data" form with a file in "file" key.
                        Returns a link to it and some data stored on server.
                        <br>If the response code is 201 (CREATED), then the entire file was uploaded.
                    </p>
                </section>
                <section class="endpoint" id="get/id">
                    <h3>GET /&lt;id&gt;</h3>
                    <p>
                        Retrieve the file with the given ID.
                    </p>
                </section>
                <section class="endpoint" id="del/id">
                    <h3>DELETE /&lt;id&gt;?key=&lt;key&gt;</h3>
                    <p>
                        Delete the file with the given ID and the key you received in the /upload request.
                    </p>
                </section>
            </div>
        </div>
    </body>
</html>